<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>The Beatles</title>
</head>
<body>
    <div class="background">
        <div class="header">
            <a href="/"><img class="logo" src="{{ url_for('static', filename='images/BeatlesLogo.png') }}"/></a>
            <h2 >ДОБРО ПОЖАЛОВАТЬ В ВИРТУАЛЬНЫЙ МУЗЕЙ ГРУППЫ THE BEATLES!</h2>
            {% if message %}
                <p class="info_text">{{ message }}</p>
            {% endif %}
            <form action="" method="POST">
                <p class="info_text">
                    <label for="username">Логин<label>
                    <input type="text" name="username">
                </p>
                <p class="info_text">
                    <label for="password">Пароль<label>
                    <input type="password" name="password">
                </p>
                <p class="info_text">
                    <input type="submit" value="Готово">
                </p>
            </form>
        </div>
    </div>
</body>
</html>